# Build & Binaries
target/
*.jar
ServerGame.jar
ServerLogin.jar
ServerGame/build_output.txt

# Local Configurations
ServerGame/config/server.properties
ServerLogin/server.ini

# Logs
log/
logs/
*.log
ServerGame/logs/
ServerLogin/logs/
antiddos-rs/logs/

# IDE & OS Specific
.DS_Store
.gemini/

# Large Assets/Data
ServerGame/resources/
ServerGame/data/
ServerGame/Eff/
ServerGame/mob/

# Obsolete / Source Backup Folders
sourceServerGame/
sourceServerLogin/
sourceServerCommon/

.env.local
